ul#console {
    list-style-type: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    width: 99%;
    background-color: #060708;
}